{{#fillHtmlContent 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/fillHtmlContent}}
{{#fillHtmlContent 'js'}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script>
        $('#frmRegister').on('submit',function(e){
            e.preventDefault();
            const username = $('#txtUsername').val();
            const password = $('#txtPassword').val();
            const permission = $('#txtPermission').val();
            const name = $('#txtName').val();
            const confirmPassword = $('#txtConfirmPassword').val();

            if(username.length === 0){
                Swal.fire({
                    title: 'Error!',
                    text: 'Ten dau?',
                    icon: 'error',
                })
                return;
            }
            
            if(password.length < 6 ){
                Swal.fire({
                    title: 'Error!',
                    text: 'Nhap Mat Khau Khac',
                    icon: 'error',
                })
                return;
            }

            if(password!==confirmPassword){
                Swal.fire({
                    title: 'Error!',
                    text: 'Sai Mat Khau',
                    icon: 'error',
                })
                return;
            }

            if(permission > 3){
                Swal.fire({
                    title: 'Error!',
                    text: 'Chọn lại 1 trong 3 phân hệ ',
                    icon: 'error',
                })
                return;
            }

            if(permission < 1){
                Swal.fire({
                    title: 'Error!',
                    text: 'Chọn lại 1 trong 3 phân hệ ',
                    icon: 'error',
                })
                return;
            }

            $.getJSON(`/account/is-available?username=${username}`,
                function(data){
                    if (data===false){
                        Swal.fire({
                            title: 'Error!',
                            text: 'Ten Da Qua Su Dung',
                            icon: 'error',
                        })
                        return;
                        }
                    $('#frmRegister').off('submit').submit();
                });
        });
        $('#txtDOB').datetimepicker({
        timepicker: false,
        format: 'd/m/Y',
        mask: true,
        });
    </script>
{{/fillHtmlContent}}

<form id="frmRegister" action="" method="post">
    <div class="card">
        <h5 class="card-header">
            Đăng ký tài khoản
        </h5>
        <div class="card-body">
            <h5>Thông tin tài khoản</h5>
            <div class="form-group">
              <label for="txtUsername">Tên User</label>
              <input type="text" name="username" id="txtUsername" class="form-control" placeholder="">
            </div>
            <div class="form-group">
              <label for="txtPassword">Mật khẩu</label>
              <input type="password" name="raw_password" id="txtPassword" class="form-control" placeholder="">
            </div>
            <div class="form-group">
              <label for="txtConfirmPassword">Nhập lại mật khẩu</label>
              <input type="password" name="" id="txtConfirmPassword" class="form-control" placeholder="">
            </div>
            <h5>
                Thông tin cá nhân
            </h5>
            <div class="form-group">
              <label for="txtName">Tên</label>
              <input type="text" name="name" id="txtName" class="form-control" placeholder="">
            </div>
            <div class="form-group">
              <label for="txtEmail">Email</label>
              <input type="text" name="email" id="txtEmail" class="form-control" placeholder="">
            </div>
            <div class="form-group">
              <label for="txtDOB">Ngày tháng năm sinh</label>
              <input type="text" name="raw_dob" id="txtDOB" class="form-control" placeholder="">
            </div>
            <div class="form-group">
              <label for="txtPermission">Phân hệ</label>
              <p>Chọn 1:User</p>
              <input type="number" name="permission" id="txtPermission" class="form-control" value="1" readonly>
            </div>
        </div>
        <div class="card-footer text-muted">
            <a class="btn btn-outline-success" href="/" role="button">
                <i class="bi bi-house-fill"></i>
                Home
            </a>
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-person-plus-fill"></i>
                Register
            </button>
        </div>
    </div>
</form>