<div class="jumbotron">
    <h1 class="display-3">403</h1>
    <p class="lead">Lỗi liên kết vui lòng quay về trang chủ và thử lại</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">Trang chủ</a>
    </p>
</div>